@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* DiseÃ±o de columnas */
.column-1{
    width: 100%;
    float: left;
}

.column-2{
    width: 50%;
    float: left;
}

.column-3{
    width: 36%;
    float: left;
}

.column-3-15 {
    width: 20%;
    float: left;
}

.column-4{
    width: 40%;
    float: left;
}

.column-5{
    width: 20%;
    float: left;
}

.column-6{
    width: 16.66%;
    float: left;
}

.column-75{
    width: 75%;
    float: left;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos Navbar */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #000000;
    --text-color: #fff;
    --main-color: #29fd53;
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);   
}

.navbar a.active {
    color: var(--main-color);
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}


/* Explicacion */

.exp {
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 30%;
    text-align: center;
}

/* Texto */

.texto {
    padding: 7%;
    text-decoration: none;
}

.border {
    border: 5px solid white;
    border-radius: 20px;
}

/* Boton Jugar */

.btn-jugar {
    text-align: center;
    text-decoration: none;
    color: white;
}

.texto2 {
    padding-top: 30%;
    padding-left: 80%;
    text-decoration: none;
}

a {
    color: white;
}

/* Pantalla 1 */

.acertijo1 {
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 18%;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
}

input {
    background-color: white;
    border: 7px solid white;
    border-radius: 50px;
    width: 50%;
    text-align: center;
}

.btn {
    background-color: white;
    border: 7px solid white;
    border-radius: 50px;
    width: 100px;
}

/* Pistas */

#menu {
    display: none;
    position: fixed;
    padding-top: 5%;
    padding-left: 82%;
}

#upgrade {
    display: none;
    position: fixed;
    padding-top: 5%;
    padding-left: 79%;
}

#pista {
    display: none;
    position: fixed;
    padding-top: 5%;
    padding-left: 79%;
}

#pantalla {
    display: none;
    position: fixed;
    padding-top: 5%;
    padding-left: 82%; 
}

#clamav {
    display: none;
    position: fixed;
    padding-top: 5%;
    padding-left: 83%; 
}

#desc {
    display: none;
    position: fixed;
    padding-top: 5%;
    padding-left: 82.5%;
}


/* Cuenta atras */

.cont-temporizador {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cont-temporizador .bloque {
    margin: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-temporizador .bloque div {
    margin: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    box-shadow: 0px 0px 6px 2px #ffffff inset;
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cont-temporizador .bloque p {
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
}

/* Respuesta input */
.resp {
    text-align: center;
}

/* Pantalla final */

.txt {
    padding-top: 22%;
    text-align: center;
}

#mensaje {
    font-size: 60px;
}

.btn-fnl {
    padding-top: 5%;
    text-align: center;
}

.btn-final {
    width: 20%;
    color: #000000;
    padding: 0.5%;
}

/* Footer */

.footer {
    text-align: center;
    padding-top: 12%;
}

/* Particulas */
#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

#error {
    text-align: center;
}

/* Responsive Navbar */

@media (max-witdh: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;

    }
}

@media (max-witdh: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transform: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover {
        color: var(--text-color);
        transform: translate(5px);
    }
    .navbar a.active {
        color: var(text-color);
    }
    .navbar.open {
        right: 2%;
        }
}